h2 {
  font-size: 25px;
  font-weight: 600;
  margin-top: 30px;
  text-align: center;
}

.hero-container {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.hero {
  background-color: rgb(110, 158, 199);
  color: white;
  font-size: 18px;
  font-weight: 600;
  height: 100px;
  width: 22%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.hero:hover {
  background-color: rgb(196, 195, 195);
  color: rgb(110, 158, 199);
}
